/* Section Restaurant */
.section-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://res.cloudinary.com/dmddi5ncx/image/upload/v1720574753/practicas/hamburguesa/image1_jcpygh.jpg);
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-flow: column nowrap;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}


.title-restaurant {
    color: var(--blanco);
    font-weight: bold;
    font-size: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
}

.sub-title-restaurant {
    color: var(--blanco);
    font-size: 2rem;
    letter-spacing: 0.7rem;
    font-weight: 400;
    text-align: center;
}

